
<div class="container">
<h2>{{pageTitle}}</h2>  

</div>
<hr/>
<div class="panel panel-primary">
<div class="panel-heading">
Product List
</div>
<div class="panel-body">
<div class="row">
<div class="col-md-2"> Filter By:</div>
<div class="col-md-4">
   <input type="text" [(ngModel)]="listFilter"/> 
</div>


</div>
<div class="row">
<div class="col-md-6">
    <h3>Filtered By : {{listFilter}}</h3>
</div>
</div>
<div >
<table class="table">
<thead>
    <tr>
        <th><button (click)="toggleImage()" class="btn btn-primary">
            {{showImage?'Hide':'Show'}}Image
        </button> 
    </th>  
        <th>Product</th>        
        <th>Code</th>
        <th>Availablity</th>
        <th>Price</th>
        <th>Rating</th>
    </tr>
</thead>
<tbody>  

    <tr *ngFor="let product of products|productFilter:listFilter">
<td><img *ngIf="showImage" title="{{product.productName}}"
     [src]="product.imageUrl" height="50" width="50"></td>
<td>{{product.productName|uppercase}}</td>
<td>{{product.productCode|lowercase}}</td>
<td>{{product.releaseDate|date:'longDate'}}</td>
<td>{{product.price|currency:'INR'}}</td>

<td><app-star [rating]="product.starRating" 
    (notify)="onRatingClicked($event)"></app-star></td>
<!-- <td>{{234.456|number:'4.4-5'}}</td> -->
   </tr> 
</tbody>

</table>
</div>
</div>
</div>
